html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

ul {
	list-style: none;
}

.wrapper {
	margin: 0 auto;
	max-width: 1040px;
}

img,
picture {
	max-width: 100%;
	padding: .1rem;
}

li {
	float: left;
}


/* -- Footer -- */

.footer {
	clear: both;
	background: #111;
	text-align: center;
	color: #fff;
}